*{
    margin: 10px;
    background-color: #FFFF8F;
}


/* class names */

ul.nav {
    list-style: none;
}

ul.nav li a {
    display: block;
    color: #b61c97;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.nav li a:hover {
    background-color: #bd6e28;
    color:#FFFF8F;
  }
button{
    background-color:rgb(232, 124, 169);
    transition-duration: 500ms;
    font-size: 50px;
    border-radius: 0px;
    transform: rotate(0deg);
    position: relative;
    top: 100px;
    left:200px;
    width:300px;
}
button:active{
    color:  #FFFF8F;
    transform: rotate(180deg);
}
