*{
    margin: 10px;
    background-color: #FFFF8F;
}
li{
    list-style-type:none;
}

ul.nav li a {
    display: block;
    color: #b61c97;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.nav li a:hover {
    background-color: #bd6e28;
    color:#FFFF8F;
  }
p{
    color: #b61c97;
}
.home-page-container {
    height:100%;
    padding:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@keyframes rotate-animation {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

img{
    height: 350px;
    padding: 30px;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    transition:500ms;
}

  img:hover {
    animation-name: rotate-animation;
    animation-duration:2s;
    animation-iteration-count: infinite;
  }
  #magicwand {
  
  }
  